<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108006074085-te44rpt75ct9o72o5gdpdltghndf74fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108006074085-te44rpt75ct9o72o5gdpdltghndf74fs</string>
	<key>API_KEY</key>
	<string>AIzaSyARHj2MxdW-5a8X7SOfCVlaaKSP9qGtpp8</string>
	<key>GCM_SENDER_ID</key>
	<string>108006074085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>praksa.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-9025e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-9025e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108006074085:ios:db8a4b71344fc4edfa160c</string>
</dict>
</plist>